/kicad/dasic-backups
kicad/fp-info-cache
kicad/fp-lib-table
kicad/sym-lib-table
kicad/~dasic.kicad_pcb.lck
kicad/~dasic.kicad_sch.lck
kicad/dasic.kicad_sch-bak
kicad/backplate/fp-info-cache
kicad/backplate/dasicBackplate.kicad_prl
kicad/keyboardplate/fp-info-cache
kicad/keyboardplate/dasicBackplate.kicad_prl
kicad/dasic.kicad_prl
kicad/dasic.kicad_prl
/hotswap/kicad/ansic-CustomFoot.pretty
hotswap/kicad/sym-lib-table
hotswap/kicad/fp-info-cache
hotswap/kicad/fp-lib-table
hotswap/kicad/dasicHotswap.kicad_prl
hotswap/kicad/keyboardplate/~dasicHotswapPlate.kicad_pcb.lck
/hotswapVersion/kicad/ansic-CustomFoot.pretty
hotswapVersion/kicad/dasicHotswap.kicad_prl
kicad/keyboardplate/dasicPlate.kicad_prl
hotswapVersion/kicad/sym-lib-table
hotswapVersion/kicad/keyboardplate/fp-info-cache
hotswapVersion/kicad/keyboardplate/dasicHotswapPlate.kicad_prl
hotswapVersion/kicad/fp-info-cache
hotswapVersion/kicad/fp-lib-table
