/kicad/dasic-backups
kicad/fp-info-cache
kicad/fp-lib-table
kicad/sym-lib-table
kicad/~dasic.kicad_pcb.lck
kicad/~dasic.kicad_sch.lck
kicad/dasic.kicad_sch-bak
kicad/backplate/fp-info-cache
kicad/backplate/dasicBackplate.kicad_prl
kicad/keyboardplate/fp-info-cache
kicad/keyboardplate/dasicBackplate.kicad_prl
kicad/dasic.kicad_prl
kicad/dasic.kicad_prl
/hotswap/kicad/ansic-CustomFoot.pretty
hotswap/kicad/sym-lib-table
hotswap/kicad/fp-info-cache
hotswap/kicad/fp-lib-table
hotswap/kicad/dasicHotswap.kicad_prl
hotswap/kicad/keyboardplate/~dasicHotswapPlate.kicad_pcb.lck
/hotswapVersion/kicad/ansic-CustomFoot.pretty
hotswapVersion/kicad/dasicHotswap.kicad_prl
kicad/keyboardplate/dasicPlate.kicad_prl
hotswapVersion/kicad/sym-lib-table
hotswapVersion/kicad/keyboardplate/fp-info-cache
hotswapVersion/kicad/keyboardplate/dasicHotswapPlate.kicad_prl
hotswapVersion/kicad/fp-info-cache
hotswapVersion/kicad/fp-lib-table
/hotswapVersion/kicad/dasicHotswap-backups
legacy/V1/kicad/fp-lib-table
legacy/V1/kicad/sym-lib-table
legacy/V1/hotswapVersion/kicad/fp-lib-table
legacy/V1/hotswapVersion/kicad/sym-lib-table
legacy/V1/hotswapVersion/kicad/keyboardplate/fp-info-cache
legacy/V1/hotswapVersion/kicad/fp-info-cache
legacy/V1/kicad/keyboardplate/fp-info-cache
legacy/V1/kicad/backplate/fp-info-cache
legacy/V1/kicad/fp-info-cache
/legacy/V1/kicad/dasic-backups
/legacy/V1/hotswapVersion/kicad/dasicHotswap-backups
kicad/dasic.kicad_prl
legacy/V1/kicad/dasic.kicad_prl
kicad/dasic.kicad_prl
legacy/V1/kicad/backplate/dasicPlate.kicad_prl
legacy/V1/kicad/keyboardplate/dasicPlate.kicad_prl
legacy/V1/hotswapVersion/kicad/dasicHotswap.kicad_prl
legacy/V1/hotswapVersion/kicad/keyboardplate/dasicHotswapPlate.kicad_prl
V1/kicad/fp-info-cache
V2/kicad/fp-info-cache
V1/kicad/backplate/fp-info-cache
V2/kicad/backplate/fp-info-cache
V1/kicad/keyboardplate/fp-info-cache
V2/kicad/keyboardplate/fp-info-cache
V1/hotswapVersion/kicad/fp-info-cache
V2/hotswapVersion/kicad/fp-info-cache
V1/hotswapVersion/kicad/keyboardplate/fp-info-cache
V2/hotswapVersion/kicad/keyboardplate/fp-info-cache
/V1/kicad/dasic-backups
/V2/kicad/dasic-backups
/V1/hotswapVersion/kicad/dasicHotswap-backups
/V2/hotswapVersion/kicad/dasicHotswap-backups
V1/kicad/dasic.kicad_prl
V2/kicad/dasic.kicad_prl
V1/kicad/backplate/dasicPlate.kicad_prl
V2/kicad/backplate/dasicPlate.kicad_prl
V1/kicad/keyboardplate/dasicPlate.kicad_prl
V2/kicad/keyboardplate/dasicPlate.kicad_prl
V1/hotswapVersion/kicad/dasicHotswap.kicad_prl
V2/hotswapVersion/kicad/dasicHotswap.kicad_prl
V1/hotswapVersion/kicad/keyboardplate/dasicHotswapPlate.kicad_prl
V2/hotswapVersion/kicad/keyboardplate/dasicHotswapPlate.kicad_prl
V2/kicad/dasic.kicad_sch-bak
V2/hotswapVersion/kicad/sym-lib-table
V1/hotswapVersion/kicad/sym-lib-table
V2/hotswapVersion/kicad/fp-lib-table
V1/hotswapVersion/kicad/fp-lib-table
V2/kicad/sym-lib-table
V1/kicad/sym-lib-table
V2/kicad/fp-lib-table
V1/kicad/fp-lib-table
V2-375u/kicad/fp-lib-table
V2-375u/kicad/fp-info-cache
V2-375u/kicad/backplate/fp-info-cache
V2-375u/kicad/keyboardplate/fp-info-cache
V2-375u/kicad/sym-lib-table
*.kicad_prl
/V2-375u/kicad/dasic-backups
/V2-375u/kicad/dasicHotswap-backups
V2-375u/kicad/~dasicHotswap.kicad_pcb.lck
